@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "colors.css";
@import "reset.css";

.index_page {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer";
  font-family: "Roboto", sans-serif;
}
.page_header {
  grid-area: header;
  display: flex;
  justify-content: center;
  background-color: var(--raisin-black);
  min-height: 50rem;
}

.page_header-logo {
  width: 65%;
}
.page_main {
  grid-area: main;
  background-color: var(--gainsboro);
}

.page_main-about-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50rem;
}

.page_main-about-content {
  grid-column-start: 2;
  text-align: center;
}
.page_main-about-text {
  grid-column-start: 3;
  width: 50%;
}

.page_main-about-logo {
  width: 35.5rem;
  position: absolute;
  margin-top: -10rem;
  margin-left: -8.5rem;
}

.page_main-about-figure {
  width: 19.9rem;
}

.page_main-cool-about-container {
  display: flex;
  color: #ffff;
  min-height: 50rem;
  padding-top: 5rem;
  align-items: center;
  flex-direction: column;
  background-color: var(--majorelle-blue);
}
.page_main-cool-about-content {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  width: 60%;
}
.page_main-cool-text {
  width: 50%;
}
.page_main-cool-logo {
  width: 20rem;
}
.page_main-content-projects {
  display: flex;
  flex-direction: column;
  min-height: 50rem;
  align-items: center;
}
.page_main-skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 50rem;
  background-color: var(--raisin-black);
  font-size: 4rem;
}
.page_main-skills-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  width: 50%;
}
.page_main-skills-logo {
  width: 5rem;
}
.page_footer {
  grid-area: footer;
}
