@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "colors.css";
@import "reset.css";

.index_page {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer";
  font-family: "Roboto", sans-serif;
}
.page_header {
  grid-area: header;
  display: flex;
  justify-content: center;
  background-color: var(--raisin-black);
  max-height: 62rem;
}

.page_header-logo {
  width: 65%;
}
.page_main {
  grid-area: main;
  background-color: var(--gainsboro);
}
.page_main-content {
  display: grid;
}
.page_main-about {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.page_main-about-container {
  padding: 10rem;
  /* margin-left: 40%; */
  /* align-items: center; */
}
.page_main-about-content {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
}
.page_main-about-logo {
  position: absolute;
  margin-top: -18rem;
  width: 40rem;
}

.page_main-about-figure {
  width: 20rem;
  margin-right: 2rem;
  padding-botton: 10rem;
}
.page_main-about-text {
  width: 30%;
}
.page_main-cool-about-container {
  background-color: var(--majorelle-blue);
}
.page_main-cool-about-content {
  display: flex;
}
.page_main-skills-container {
  background-color: var(--raisin-black);
}
/* .page_main-skills-content {
  display: flex;
} */
.page_main-skills-logo {
  width: 3rem;
}
.page_footer {
  grid-area: footer;
}
