.page-container {
  display: grid;
  grid-template-rows: repeat(6, 2fr);
  grid-template-columns: repeat(3, 1fr);
}
.page-hero {
  grid-column: 1/4;
  background-color: #272727;
}
.page-content {
  grid-row-start: 3;
}
.page-content-about {
  grid-row-start: 4;
}
.page-content-about-fun {
  grid-row-start: 5;
}
.page-content-about-skills {
  grid-row-start: 6;
}
.page-content-text {
  width: 100%;
  margin-bottom: 50px;
  grid-column: 1/4;
}
/* .page-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
} */
