@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Shadows+Into+Light+Two&display=swap");

.index-page-container {
  diplay: flex;
  flex-direction: column-reverse;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  line-height: 40px;
  color: #210542;
}
.index-page-content {
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.index-page-message_update {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: bold;
  font-size: 34px;
  color: #6666ff;
  letter-spacing: 15px;
  padding-top: 10px;
}
.index-page-date {
  color: #ffbf66;
  font-weight: bold;
}
.index-page-link:visited {
  color: #ffbf66;
}
.index-page-link:hover {
  padding: 2px;
  background-color: #6666ff;
  color: #ffffff;
}
